{% extends "datospaginas/layout.html" %}

{% block nav-productos %}<a class="zelda active dropdown dropdown-toggle" data-toggle="dropdown" href="#">PRODUCTOS <span class="glyphicon glyphicon-menu-down"></span></a>
	<ul class="dropdown-menu">
		{% for categoria in categorias %}
		<a href="{% url 'categoria' pk=categoria.pk %}">{{categoria.nombre}}</a>
		{% endfor %}
	</ul>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row section-body">
		<div class="section-title">
			<h1>{{producto.nombre}}</h1>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6">
				<div class="product-image">
					<h5><a class="categ-tittle" href="{% url 'categoria' pk=categoria.pk %}">{{categoria}}</a></h5>
					<img src="{{producto.imagen.url}}" alt="{{producto.nombre}}">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="product-description">
					<p>{{producto.descripcion|linebreaksbr}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row section-body">
		<div class="section-subtitle">
			<h2>Productos Relacionados</h2>
		</div>
		<div class="col-sm-9">
			{% for product in relacionados %}
			<div class="col-sm-4 related-product-area">
				<div class="product-img">
					<a href="{% url 'producto' pk=product.pk %}"><img class="img-producto" src="{{product.imagen.url}}" alt="{{product.nombre}}"></a>
				</div>
				<div class="product-info">
					<div class="product-text">
						<h3>{{ product.nombre }}</h3>
						<div class="product-zelda">
	                    	<a href="{% url 'producto' pk=product.pk %}">Ver</a>
	                    </div>
	                </div>
                </div>
            </div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
